
<!--
.text {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt}
.littletitle {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; font-style: normal; background-color: #FFCCD0}
.mainlinetitle {  font-family: "ºÚÌå"; font-size: 9pt; font-style: normal; font-weight: bold}
.plaintext {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; font-style: normal; color: #000000; line-height: normal; font-weight: normal; height: auto; width: auto; left: auto; top: auto; clip:  rect(   ); letter-spacing: normal; word-spacing: normal; white-space: normal; list-style-position: inside; list-style-type: none; background-color: #FFFFFF}
.right {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; background-color: #CCCCCC}
.left {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt; background-color: #FFCCCC}
.button {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12pt; font-weight: bold}


-->
